*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h4{
  display: block;
  font-size: 3rem;
  font-weight: bolder;
  text-align: center;
  text-decoration: underline;
}
.nav-center{
  border: .1px solid black;
}
ul{
  text-decoration: none;
}
li{
  text-decoration: none;
  font-size: 2rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
li:hover{
  color: white;
  background-color: black;
}